<div class="container">
  <div class="card">
    <div class="card-content">
      <div class="columns is-centered">
        <div class="column is-half">
          <app-border-bar></app-border-bar>
          <h2 class="title is-2 center">For Your Overall Organization</h2>
        </div>
      </div>
      <div class="columns is-centered">
        <div class="column is-half first-column">
          <h5 [ngStyle]="{ color: 'orange' }" class="center title is-5">
            We focus on:
          </h5>
          <ul>
            <li>
              <fa-icon
                class="check"
                [ngStyle]="{ color: 'orange' }"
                [icon]="check"
              ></fa-icon>
              <strong>Customers, Revenue, Profitability</strong>
            </li>
            <li>
              <fa-icon
                class="check"
                [ngStyle]="{ color: 'orange' }"
                [icon]="check"
              ></fa-icon>
              <strong>Effectiveness, Efficiencies, Productivitiy</strong>
            </li>
            <li>
              <fa-icon
                class="check"
                [ngStyle]="{ color: 'orange' }"
                [icon]="check"
              ></fa-icon>
              <strong>Awareness, Distribution: Knowledge & Experiences</strong>
            </li>
          </ul>
        </div>
        <div class="column is-half">
          <h5 [ngStyle]="{ color: 'orange' }" class="center title is-5">
            We do this using:
          </h5>
          <ul>
            <li>
              <fa-icon
                class="check"
                [ngStyle]="{ color: 'orange' }"
                [icon]="check"
              ></fa-icon>
              <strong
                >Data & Information processing, analysis & visualization. Data
                Science principals.</strong
              >
            </li>
            <li>
              <fa-icon
                class="check"
                [ngStyle]="{ color: 'orange' }"
                [icon]="check"
              ></fa-icon>
              <strong>Self service portals and tools</strong>
            </li>
            <li>
              <fa-icon
                class="check"
                [ngStyle]="{ color: 'orange' }"
                [icon]="check"
              ></fa-icon>
              <strong
                >Driven, relentless, unwavering pursuit of solutions for the
                problems you are facing</strong
              >
            </li>
            <li>
              <fa-icon
                class="check"
                [ngStyle]="{ color: 'orange' }"
                [icon]="check"
              ></fa-icon>
              <strong>Simulations & Predictive modeling</strong>
            </li>
            <li>
              <fa-icon
                class="check"
                [ngStyle]="{ color: 'orange' }"
                [icon]="check"
              ></fa-icon>
              <strong
                >Development AI (Artificial Intelligence), ML (Machine Learning)
                & Automation (Workflow or Process Automatiom, including
                robotics)</strong
              >
            </li>
          </ul>
        </div>
      </div>
      <app-consult-button></app-consult-button>
    </div>
  </div>
</div>
