<div class="footer">
  <div class="columns is-centered">
    <div class="column is-half">
      <figure class="image is-96x96">
        <img src="../../../assets/images/AIT-Symbol-98.png" />
      </figure>
    </div>
    <div class="column">
      <div class="columns is-centered">
        <div class="column is-half">Verified & Secured Seal</div>
        <div class="column">
          <a class="phone-link" href="tel:18551234567">
            <fa-icon
              class="phone"
              [ngStyle]="{ color: 'white' }"
              [icon]="phone"
            ></fa-icon>
            +1 (855)123-4567</a
          >
        </div>
      </div>
    </div>
  </div>
  <div class="section is-small top-border">
    <div class="columns is-centered">
      <div class="column is-two-fifths">
        <h5 class="title is-5">About Us</h5>
        <p>
          Our long-term investment in tech, to help us determine what works
          where, benefits you, our customers because we can go straight to what
          works without the risk of trying somethin, having it not work...
        </p>
        <a class="read-more" href="">READ MORE</a>
      </div>
      <div class="column">
        <div class="columns is-centered">
          <div class="column is-one-third">
            <h5 class="title is-5">Quick Links</h5>
            <ul>
              <li class="bullet"><a href="">For IT Departments</a></li>
              <li class="bullet"><a href="">For Sales & Marketing</a></li>
              <li class="bullet"><a href="">Services</a></li>
              <li class="bullet"><a href="">Our Process</a></li>
              <li class="bullet"><a href="">Our Staff</a></li>
              <li class="bullet"><a href="">Employement</a></li>
            </ul>
          </div>
          <div class="column">
            <h5 class="title is-5">Important Links</h5>
            <ul>
              <li class="bullet"><a href="">About Us</a></li>
              <li class="bullet"><a href="">Blog</a></li>
              <li class="bullet"><a href="">Contact Us</a></li>
              <li class="bullet"><a href="">FAQs</a></li>
              <li class="bullet"><a href="">Privacy Policy</a></li>
            </ul>
          </div>
          <div class="column">
            <h5 class="title is-5">Accepting Followers</h5>
            <ul>
              <li>
                <a href="">
                  <fa-icon
                    class="instagram"
                    [ngStyle]="{ color: 'white' }"
                    [icon]="instagram"
                  ></fa-icon>
                  Instagram
                </a>
              </li>
              <li>
                <a href="">
                  <fa-icon
                    class="twitter"
                    [ngStyle]="{ color: 'white' }"
                    [icon]="twitter"
                  ></fa-icon>
                  Twitter
                </a>
              </li>
              <li>
                <a href="">
                  <fa-icon
                    class="linkedin"
                    [ngStyle]="{ color: 'white' }"
                    [icon]="linkedin"
                  ></fa-icon>
                  LinkedIn
                </a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="section is-small top-border center">
    Copyright © 2022-2023 AIT LABS, LLC. All Rights Reserved.
  </div>
</div>
