<div class="container">
  <div class="section">
    <app-border-bar> </app-border-bar>
    <h2 class="title is-2">For Sales and Marketing</h2>
    <div class="columns is-centered">
      <div class="column is-half">
        <h4 [ngStyle]="{ color: 'orange' }" class="title is-4">We Focus On:</h4>
        <ul>
          <li>
            <fa-icon
              class="check"
              [ngStyle]="{ color: 'orange' }"
              [icon]="check"
            ></fa-icon>
            <strong
              >Understanding Customer, their behavior, their wants & where new
              ones might hang out.</strong
            >
          </li>
          <li>
            <fa-icon
              class="check"
              [ngStyle]="{ color: 'orange' }"
              [icon]="check"
            ></fa-icon>
            <strong>Increase Visibility & Awareness</strong>
          </li>
          <li>
            <fa-icon
              class="check"
              [ngStyle]="{ color: 'orange' }"
              [icon]="check"
            ></fa-icon>
            <strong
              >Standardize & Increase Efficiencies for the Customer
              Journey</strong
            >
          </li>
        </ul>
        <h4 [ngStyle]="{ color: 'orange' }" class="title is-4">
          We do this using:
        </h4>
        <ul>
          <li>
            <fa-icon
              class="check"
              [ngStyle]="{ color: 'orange' }"
              [icon]="check"
            ></fa-icon>
            <strong
              >Data & Information processing, analysis & visualization. Data
              Science principals</strong
            >
          </li>
          <li>
            <fa-icon
              class="check"
              [ngStyle]="{ color: 'orange' }"
              [icon]="check"
            ></fa-icon>
            <strong>Self service portals and tools</strong>
          </li>
          <li>
            <fa-icon
              class="check"
              [ngStyle]="{ color: 'orange' }"
              [icon]="check"
            ></fa-icon>
            <strong>Simulations & Predictive modeling</strong>
          </li>
          <li>
            <fa-icon
              class="check"
              [ngStyle]="{ color: 'orange' }"
              [icon]="check"
            ></fa-icon>
            <strong
              >Development, AI (Artificial Intelligence), ML (Machine Learning)
              & Automation (Workflow or Process Automation, including
              robotics</strong
            >
          </li>
        </ul>
      </div>
      <div class="column">
        <figure class="image">
          <img src="../../../assets/images/AitLogoH220.png" />
        </figure>
      </div>
    </div>
  </div>
</div>
