<div class="section is-medium">
  <app-border-bar></app-border-bar>
  <h2 class="title is-2">On-Staff - Skills, Experience & Talent</h2>
  <div class="columns is-centered">
    <div class="column is-one-third">
      <div class="card">
        <div class="card-header-title">Data Scientists</div>
        <div class="card-content"></div>
      </div>
    </div>
    <div class="column">
      <div class="card">
        <div class="card-header-title">Data Analysts</div>
        <div class="card-content"></div>
      </div>
    </div>
    <div class="column">
      <div class="card">
        <div class="card-header-title">Solution Architects</div>
        <div class="card-content"></div>
      </div>
    </div>
  </div>

  <div class="columns is-centered">
    <div class="column is-one-third">
      <div class="card">
        <div class="card-header-title">Engineers</div>
        <div class="card-content"></div>
      </div>
    </div>
    <div class="column">
      <div class="card">
        <div class="card-header-title">Project Managers</div>
        <div class="card-content"></div>
      </div>
    </div>
    <div class="column">
      <div class="card">
        <div class="card-header-title">CIO, CTO</div>
        <div class="card-content"></div>
      </div>
    </div>
  </div>
  <div class="bottom-text">
    <h4 class="title is-4">Your Benefit:</h4>
    <div class="container">
        <ul>
            <li>
              <fa-icon
                class="check"
                [ngStyle]="{ color: 'orange' }"
                [icon]="check"
              ></fa-icon>
              <strong>Staff, available to you, "Ad-Hoc", On Demand, Short Term or Long Term. No Commitments.</strong>
            </li>
            <li>
                <fa-icon
                  class="check"
                  [ngStyle]="{ color: 'orange' }"
                  [icon]="check"
                ></fa-icon>
                <strong>Self Service Portal, with access to unique proprietary tools & technologies.</strong>
              </li>
            </ul>

    </div>
    <h4 class="title is-4">
      NO NEED TO STRUGGLE FINDING & ATTRACTING TALENT ANYMORE
    </h4>
<app-consult-button></app-consult-button>
  </div>
</div>
