<div class="section is-medium">
  <app-border-bar></app-border-bar>
  <h2 class="title is-2">Our Services</h2>
  <div class="columns is-centered">
    <div class="column is-one-third">
      <div class="card grey">
        <div class="card-content grey">
          <h4 class="title is-4 grey">test</h4>
        </div>
      </div>
    </div>
    <div class="column">
      <div class="card grey"><div class="card-content grey">
        <h4 class="title is-4 grey">test</h4>
      </div></div>
    </div>
    <div class="column">
      <div class="card grey"><div class="card-content grey">
        <h4 class="title is-4 grey">test</h4>
      </div></div>
    </div>
  </div>
</div>
