<div class="section is-small">
  <div class="container">
    <div class="columns is-centered">
      <div class="column is-half">
        <figure class="image">
          <img src="../../../assets/images/qa-process.png" />
        </figure>
      </div>
      <div class="column column-2">
        <app-border-bar></app-border-bar>
        <h4 class="title is-3">Our Process</h4>
        <ol>
          <li>Data and Information, converted into Intelligence</li>
          <li>Intelligence, developed into Predictive models</li>
          <li>Predictions turned into Actions</li>
          <li>Successful Actions converted into Automation</li>
          <li>Repeat, CANI</li>
        </ol>
        <app-consult-button></app-consult-button>
      </div>
    </div>

    <div class="card">
      <div class="card-content">
        <strong
          >This may sound simple, but the underlying expertise, experience &
          technologies required, are not. If done correctly it produces amazing
          ROI. Few can do it correctly</strong
        >
      </div>
    </div>
  </div>
</div>
