<div class="container">
  <div class="section is-small">
    <app-border-bar></app-border-bar>
    <h2 class="title is-2">Project Examples</h2>
    <p>
      Our wide range of expertise in business, operations, and technology,
      combined with our decades of experience through varying environments,
      allows us a unique perspective and approach in solving problems and
      overcoming barriers to success
    </p>

    <p>
      Our staff are permanently hired and are not brought on for any one
      project. So, you can expect a continuity not normally found with other
      agencies. Our proprietary technology captures knowledge and experience
      giving each team member instant access to the knowledge and experience of
      any other
    </p>
    <h2 class="title is-2">
      Our Customers Think This Makes Us <span>Indispensable...</span>
    </h2>
  </div>
</div>
