<!-- <div class="container is-fullhd"> -->
  <div class="section is-medium">
    <div class="columns">
      <div class="column is-one-half">
        <app-border-bar></app-border-bar>
        <h2 class="title is-2 is-spaced offer">Our Offer</h2>
        <ul>
          <li>
            <fa-icon
              class="check"
              [ngStyle]="{ color: 'orange' }"
              [icon]="check"
            ></fa-icon>
            <strong
              >Experienced, knowledgeable, honest, local people ready to help
              you</strong
            >
          </li>
          <li>
            <fa-icon
              class="check"
              [ngStyle]="{ color: 'orange' }"
              [icon]="check"
            ></fa-icon>
            <strong>Advanced & Proprietary technologies</strong>
          </li>
          <li>
            <fa-icon
              class="check"
              [ngStyle]="{ color: 'orange' }"
              [icon]="check"
            ></fa-icon>
            <strong
              >Driven, relentless, unwavering pursuit of solutions for the
              problems you are facing.</strong
            >
          </li>
          <li>
            <fa-icon
              class="check"
              [ngStyle]="{ color: 'orange' }"
              [icon]="check"
            ></fa-icon>
            <strong>Only pay for what is delivered and accepted</strong>
          </li>
          <li>
            <fa-icon
              class="check"
              [ngStyle]="{ color: 'orange' }"
              [icon]="check"
            ></fa-icon>
            <strong>Our loyalty and our commitment to your success</strong>
          </li>
        </ul>

        <h3 class="title is-4 result">The Result?</h3>
        <h4 class="subtitle is-7">Change Makes You Stronger! People Whom You Look Forward To Working With</h4>
        <app-consult-button></app-consult-button>
      </div>
      <div class="column">
        <figure class="image">
          <img
            src="../../../assets/images/programmer-working-isometric-style_52683-16805.webp"
          />
        </figure>
      </div>
    </div>
  </div>
<!-- </div> -->
