<div class="container">
  <div class="section is-medium">
    <div class="columns">
      <div class="column is-four-sevenths">
        <h1 class="title is-3 is-spaced">WE DO</h1>
        <h1 class="title is-1">Information Technology (IT)</h1>
        <p>Out of Orland, FL USA</p>
        <p>Managed: Full Time, Fractional, On Demand, Self Service</p>
        <app-consult-button></app-consult-button>
      </div>
      <div class="column">
        <figure class="image">
          <img
            src="../../../assets/images/data-centers-are-data-centers-serve-applications-supporting-business-information-cloud-computing-technology-business-analysis-analytics-research-strategy-statistic-planning-marketing_1150-55220.webp"
          />
        </figure>
      </div>
    </div>
  </div>
</div>
