<section class="section">
  <app-border-bar></app-border-bar>
  <h2 class="title is-2 is-spaced">It's Easy to Get Started</h2>
  <h2 class="subtitle is-6">
    With our own series of proprietary methodologies and technologies, we help
    make the results of any effort we take on clear and with a high degree of
    certainty.s
  </h2>
  <div class="columns is-centered">
    <div class="column is-half">
      <div class="field">
        <div class="control">
          <input class="input" type="text" placeholder="Full Name" />
        </div>
      </div>
    </div>
    <div class="column">
      <div class="field">
        <div class="control">
          <input class="input" type="email" placeholder="Email Address" />
        </div>
      </div>
    </div>
  </div>
  <div class="columns is-centered">
    <div class="column is-half">
      <div class="field">
        <div class="control">
          <input class="input" type="tel" placeholder="Phone Number" />
        </div>
      </div>
    </div>
    <div class="column">
      <div class="field">
        <div class="control">
          <div class="select">
            <select>
              <option value="">Select the best time to call</option>
              <option value="Morning">Morning</option>
              <option value="Afternoon">Afternoon</option>
              <option value="Evening">Evening</option>
            </select>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="field">
    <div class="control">
      <textarea
        class="textarea"
        placeholder="Summary of what you would like us to help with"
      ></textarea>
    </div>
  </div>

  <div class="field is-grouped">
    <div class="control">
      <button class="button is-link orange">Request Consultation</button>
    </div>
  </div>
</section>
